# --- User Specific ---
# Ignora la cartella dei container
mysql*/
certbot/
nginx/

# --- Python & Django ---
# Bytecode e cache
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.env
.env.*

# File statici e media raccolti (devono essere generati sul server)
# (La cartella 'static' sorgente di solito è tracciata)
staticfiles/
media/

# --- OS & Editor ---
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo
