{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Papersnitch - {% block head_title %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- FontAwesome CSS -->
    <script src="https://kit.fontawesome.com/825e3a16e3.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<style>
    .signup-box {
        margin-bottom: 40px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
    <a class="navbar-brand">
        <i class="fas fa-search" style="transform: rotate(90deg)"></i>aper<i class="fas fa-dollar-sign"></i>nitch
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
                <button class="btn btn-outline-light btn-sm my-auto" onclick="location.href='{% url 'bug_report' %}'" title="Feedback"> 
                    <i class="fas fa-comments"></i> Feedback
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'analyze' %}" style="color: white;" title="Analyze Papers">
                    <i class="fas fa-file-pdf fa-lg"></i>
                </a>
            </li>
        {% if user.is_authenticated %}
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}" style="color: white;" title="Profile">
                    <i class="fas fa-user fa-lg"></i>
                </a>
            </li>
            
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}" style="display: inline;"title="Logout">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-link" style="color: white; ">
                        <i class="fas fa-sign-out-alt fa-lg"></i>
                    </button>
                </form>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
    </div> <!-- navbar-collapse.// -->
</nav>

<div class="margin-from-navbar"  style="margin-top: 100px">
    {% block content %}
    {% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>

</body>
<footer class="text-white text-center text-lg-start fixed-bottom">
    <div class="text-center p-1">
        <div class="footer" id="orario-data"></div>
    </div>
</footer>
</html>