{% load static %}
<!doctype html>
<html lang="en">
    {% block extra_css %}{% endblock %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Papersnitch - {% block head_title %}{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <!-- FontAwesome CSS -->
    <script src="https://kit.fontawesome.com/825e3a16e3.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    {%comment%} TODO change redirect to the real home {%endcomment%}
    <a class="navbar-brand" href="{% url 'home' %}">
        <i class="fas fa-search" style="transform: rotate(90deg)"></i>aper<i class="fas fa-dollar-sign"></i>nitch
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
        
    <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'conference_list' %}" title="Conferences">
                <i class="fas fa-building mr-1"></i> Conferences
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-annotator" href="/annotator/" title="Annotator">
                <i class="fas fa-pencil mr-1"></i> Annotator
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'bug_report' %}" title="Feedback">
                <i class="fas fa-comments mr-1"></i> Feedback
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'analyze' %}" title="Analyze Papers">
                <i class="fas fa-file-pdf mr-1"></i> Analyze
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}" title="Profile">
                    <i class="fas fa-user mr-1"></i> Profile
                    {% if unread_analyses_count > 0 %}
                        <span class="badge badge-pill badge-danger ml-1">{{ unread_analyses_count }}</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}" style="display: inline;" title="Logout">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-link nav-link-logout" style="padding: 0.5rem 1rem; border: none; background: none;">
                        <i class="fas fa-sign-out-alt mr-1"></i> Logout
                    </button>
                </form>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link nav-link-login" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt mr-1"></i> Login
                </a>
            </li>
        {% endif %}
    </ul>
    </div> <!-- navbar-collapse.// -->
</nav>

<div class="content-wrapper"  >
    {% block content %}
    {% endblock %}
</div>

<footer class="text-white text-center text-lg-start">
    <div class="text-center p-1">
        <div class="footer" id="orario-data"></div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>

</body>
{% block extra_js %}{% endblock %}


</html>